.forgot-password {
	padding: 150px 0 100px 0;

	.container {
		// max-width: 1000px;

		.heading {
			font-size: clamp(24px, 7vw, 60px);
			line-height: 1.1;
			font-weight: 600;
			margin-bottom: 20px;
			text-align: center;

			.focus {
				color: #38c173;
			}
		}

		.body-text {
			text-align: center;
			max-width: 400px;
			margin: 0 auto;
			margin-bottom: 50px;
		}

		.forgot-password-form {
			margin: 0 auto;
			display: flex;
			flex-direction: column;
			align-items: center;
			max-width: 500px;

			.form-field {
				width: 100%;
				margin-bottom: 20px;
				label {
					font-size: 16px;
					font-weight: 500;
					display: block;
					margin-bottom: 10px;
				}

				input {
					font-size: 16px;
					padding: 16px;
					border-radius: 10px;
					background-color: #f6f7fb;
					width: 100%;

					&:focus {
						outline: 1px solid #38c173;
					}
				}
			}

			button {
				font-size: 16px;
				font-weight: 600px;
				color: #fff;
				padding: 16px 40px;
				border-radius: 30px;
				background-color: #38c173;
				width: 100%;
				transition: 0.3s;

				&:hover {
					background: #2fd168;
				}
			}
		}
	}
}
